* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
#__next {
  height: 100%;
}

body {
  --white: #ffffff;
  --green: #1db954;
  --dark-green: #1aa34a;
  --black: #191414;
  --ligth-black: #0f1015;
  --error: #ec3e36;
}

body {
  background-color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.layout {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(70, 76, 82), rgb(7, 7, 8) 85%);
  color: var(--white);
}

.home-container {
  height: 100%;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  height: 100%;
  width: 69%;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logged {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.text {
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem;
}

.button {
  background-color: var(--green);
  border-radius: 30px;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--white);
  line-height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 10px;
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button:hover {
  background-color: var(--dark-green);
}

.error {
  position: absolute;
  display: flex;
  background-color: var(--error);
  color: var(--white);
  width: 100vw;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  margin-left: 1rem;
}

.error-close {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white);
}

.error-close::after {
  content: "✕";
}

.sidebar {
  background: var(--ligth-black);
  box-shadow: 0px 5px 8px var(--ligth-black);
  height: 100vh;
  width: 31%;
}

.sidebar-header {
  margin: 2rem;
  border-bottom: solid 1px var(--white);
}

.sidebar-link {
  align-items: center;
  justify-content: center;
  color: var(--white);
  display: flex;
  height: 3rem;
  text-decoration: none;
  transition: color 0.4s;
}

.sidebar-title {
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-input {
  background: none;
  border: none;
  outline: none;
  color: var(--white);
  line-height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 3rem;
  flex-grow: 1;
}

.form-input:focus {
  border-bottom: solid 1px var(--green);
}

.form-button {
  width: 10rem;
}
